<div class="container-fluid">

  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>


  <div class="row">
  

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
      <!--     <a routerLink="../newproject" class="btn btn-primary btn-sm float-right">
            <i class="uil uil-export ml-1"></i> New project
          </a> -->
          <h5 class="card-title header-title mt-0 mb-0">Suscriptores</h5>
          <div class="table-responsive mt-4">
            <table class="table table-hover table-nowrap mb-0">
              <thead>
                <tr>
            <!--       <th scope="col">#</th> -->
                  <th scope="col">Nombre de usuario</th>
                  <th scope="col">Respuesta</th>
                <!--   <th scope="col">Customer</th>
                  <th scope="col">Price</th> -->
                  <!-- <th scope="col">Estado de solicitud</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" >
                  <!-- <td>{{ table.id }}</td> -->
                 <td>
                    <div class="chat-avatar" >
                    
                  {{ user.email }}
                    </div> 
                  </td>
                  <td>
                    {{ user.response.name }}
                </td>
                 <!--  <td>{{ table.name }}</td>
                  <td>{{ table.price }}</td> -->
                 <!--  <td><span >{{user.status}}</span></td> -->
                </tr>

              </tbody>
            </table>
          </div><!-- end table -->
        </div><!-- end card-body -->
      </div><!-- end card -->
    </div>
  </div>

</div>