<div class="container-fluid">
    <app-page-title title="Nuevo curso" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
           
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-1">Imagen del curso</h4>
                    <p class="text-muted font-13 m-b-30">
                        Arrastra y pega la imagen del curso
                    </p>
                     <ngx-file-picker
                [uploadType]="'multi'"
                (validationError)= "onValidationError($event)"
                [adapter]="adapter"
                [fileExtensions]="['pdf', 'jpeg','jpg', 'png', 'PNG', 'mp4', 'css', 'docx', 'txt']"
                (uploadSuccess)="onUploadSuccess($event)"
                (removeSuccess)="onRemoveSuccess($event)"
                [showeDragDropZone]="true"
                [showPreviewContainer]="true"
                [accept]="'image/*'"
                (fileAdded)="onFileAdded($event)">
            </ngx-file-picker> 
                     <form (ngSubmit)="sendTix()" [formGroup]="typeValidationForm">
            <div class="form-group">
           



              <label>Titulo del curso</label>
              <input type="text" class="form-control" formControlName="tittle"
                [ngClass]="{'is-invalid': typesubmit && type.tittle.errors}" placeholder="Titulo del curso" />
              <div *ngIf="typesubmit && type.tittle.errors" class="invalid-feedback">
                <span *ngIf="type.tittle.errors.required">Este campo es requerido.</span>
              </div>
            </div>
           
            <div class="form-group">
              <label>Precio</label>
              <div>
                <input formControlName="costPrice" type="text" class="form-control"
                  [ngClass]="{'is-invalid': typesubmit && type.costPrice.errors}"
                  placeholder="precio del curso" />
                <div *ngIf="typesubmit && type.costPrice.errors" class="invalid-feedback">
                  <span *ngIf="type.costPrice.errors.required">Este campo es requerido.</span>
               
                </div>
              </div>
            </div>




            <div class="form-group">
              <label>Descripcion</label>
              <div>
                <textarea formControlName="description" class="form-control" rows="5"
                  [ngClass]="{'is-invalid': typesubmit && type.description.errors}"></textarea>
                <div *ngIf="typesubmit && type.description.errors" class="invalid-feedback">
                  <span *ngIf="type.description.errors.required">Este campo es requerido.</span>
                </div>
              </div>
            </div>
            <div class="form-group mb-0">
              <div>
                <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                  Aceptar
                </button>
                <button type="reset" class="btn btn-secondary waves-effect">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
                   
                
                    
                    
                    <!-- <div class="clearfix text-right mt-3">
                        <button type="button" class="btn btn-danger"> <i class="uil uil-arrow-right mr-1"></i> Submit</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>