<div class="container-fluid">
    <app-page-title title="New project" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
           
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-1">Project's images</h4>
                    <p class="text-muted font-13 m-b-30">
                        Drag and drop the project's images.
                    </p>
                     <ngx-file-picker
                [uploadType]="'multi'"
                (validationError)= "onValidationError($event)"
                [adapter]="adapter"
                [fileExtensions]="['pdf', 'jpeg','jpg', 'png', 'PNG', 'mp4', 'css', 'docx', 'txt']"
                (uploadSuccess)="onUploadSuccess($event)"
                (removeSuccess)="onRemoveSuccess($event)"
                [showeDragDropZone]="true"
                [showPreviewContainer]="true"
                [accept]="'image/*'"
                (fileAdded)="onFileAdded($event)">
            </ngx-file-picker> 
                     <form (ngSubmit)="sendTix()" [formGroup]="typeValidationForm">
            <div class="form-group">
           



              <label>Tittle</label>
              <input type="text" class="form-control" formControlName="tittle"
                [ngClass]="{'is-invalid': typesubmit && type.tittle.errors}" placeholder="The project tittle" />
              <div *ngIf="typesubmit && type.tittle.errors" class="invalid-feedback">
                <span *ngIf="type.tittle.errors.required">This value is required.</span>
              </div>
            </div>
           
            <div class="form-group">
              <label>Category</label>
              <div>
                <input formControlName="category" type="text" class="form-control"
                  [ngClass]="{'is-invalid': typesubmit && type.category.errors}"
                  placeholder="Enter the project category" />
                <div *ngIf="typesubmit && type.category.errors" class="invalid-feedback">
                  <span *ngIf="type.category.errors.required">This value is required.</span>
                  <span *ngIf="type.category.errors.pattern">This value should be alphanumeric.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <div>
                <textarea formControlName="description" class="form-control" rows="5"
                  [ngClass]="{'is-invalid': typesubmit && type.description.errors}"></textarea>
                <div *ngIf="typesubmit && type.description.errors" class="invalid-feedback">
                  <span *ngIf="type.description.errors.required">This value is required.</span>
                </div>
              </div>
            </div>
            <div class="form-group mb-0">
              <div>
                <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                  Submit
                </button>
                <button type="reset" class="btn btn-secondary waves-effect">
                  Cancel
                </button>
              </div>
            </div>
          </form>
                   
                
                    
                    
                    <!-- <div class="clearfix text-right mt-3">
                        <button type="button" class="btn btn-danger"> <i class="uil uil-arrow-right mr-1"></i> Submit</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>